<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Hacknight</h2>
        <p class="text-center">Join us to work on apps to help Newark!</p>
      <h1 class="text-center"><a href="http://meetup.com/Code-for-Newark" target="_blank"><i class="fa fa-calendar-o"></i></a></h1>
          <p class="text-center"><a href="http://www.meetup.com/Code-for-Newark" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
