<!-- <section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div align="center">
          <a href="https://www.meetup.com/Code-for-Newark/events/247614657/" target="_blank">
            <img class="cta-img" src="https://pbs.twimg.com/media/DWZve-nWAAAUolB?format=png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Hacknight at Newark Venture Partners</h2>
        <p class="text-center">We <3 Civic Tech Launch!</p>
      <h1 class="text-center"><a href="https://www.meetup.com/Code-for-Newark/events/248139035/" target="_blank"><i class="fa fa-calendar-o"></i></a></h1>
          <p class="text-center"><a href="https://www.meetup.com/Code-for-Newark/events/248139035/" class="btn btn-primary btn-lg">RSVP NOW</a></p>
      </div>
  </div>
  </div>
</section>
